# OpenAI Configuration (Common for all environments)
OpenAI__CompletionDeployment=gpt-4o
OpenAI__MiniCompletionDeployment=gpt-4o-mini
OpenAI__EmbeddingModel=text-embedding-ada-002
OpenAI__Endpoint=your_openai_endpoint
OpenAI__ApiKey=your_api_key
OpenAI__ApiVersion=2024-08-01-preview

# Authentication (Common for all environments)
IdentityType=key
